---
import AgentStorePage from "../../app/agent-store/page.jsx";
import AgentLayout from "../layouts/AgentLayout.astro";
import Layout from "../layouts/Layout.astro";
import Sidebar from "../layouts/Sidebar.astro";
---

<AgentLayout>
    <section class="flex-1">
        <AgentStorePage client:only="react" />
    </section>
</AgentLayout>
