---
import Chat from "../../app/chat/Chat.jsx";
import AgentLayout from "../layouts/AgentLayout.astro";
import Layout from "../layouts/Layout.astro";
import Sidebar from "../layouts/Sidebar.astro";
---

<AgentLayout>
    <section class="flex-1">
        <Chat client:only="react" />
    </section>
</AgentLayout>
